/* Vite preview 是为了生产环境预览而设计的，不是完整的 production server */
import { handler } from './dist/server'
import express from 'express'

const app = express()

// 在这里添加 Vite 编译后的静态文件服务
app.use(express.static('./dist/public'))

// API 路由由 src/server.ts 处理

export default app
